.login-form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form-container h2 {
    text-align: center;
  }
  
  .login-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form-container .form-group {
    margin-bottom: 10px;
  }
  
  .login-form-container label {
    font-weight: bold;
  }
  
  .login-form-container input[type='email'],
  .login-form-container input[type='password'] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .login-form-container button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-form-container button:hover {
    background-color: #45a049;
  }
  